@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Outfit:wght@100;200;300;400;500;600&family=Style+Script&display=swap');
html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      
      .swiper-slide:nth-child(1n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(2n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(3n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(4n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(5n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(6n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(7n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(8n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(9n) {
        background-color: #DDBEA9;
      }

      .swiper-slide:nth-child(10n) {
        background-color: #DDBEA9;
      }

      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
      }


.bunga{

  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;

}
.bunga-atas{
position: fixed;
top: 0;
left: 0;
width: 300px;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .swiper {
        width: 95%;
        height: 80%;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        box-shadow: 2px 2px 4px #000000;
      }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .swiper {
        width: 90%;
        height: 80%;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }
      

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .swiper {
    width: 550px;
    height: 700px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .swiper {
        width: 550px;
        height: 700px;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .swiper {
        width: 550px;
        height: 700px;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }

}

.buka {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.buka:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.buka:active {
	position:relative;
	top:1px;
}

.nama1{
  font-family: 'Carattere', cursive;
  font-size: 28pt;
  color: #6B705C;
}

.nama2{
  font-family: 'Style Script', cursive;
  font-size: 28pt;
  color: #023047;
}

.kepada{
  font-family: 'Outfit', sans-serif;
  font-size: 15pt;
  color: #013a63;
}
